
html {
    font-family: "Poppins", sans-serif;
    font-weight:300;
    font-style: normal;
}

main section .text-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
main section .container-title{
    height: auto;
}
main section .container-title img {

    height: 60vh;
    min-height: 300px;
    max-height: 800px;
    object-fit: cover;
    object-position: top;
}


main section:nth-child(1) .text-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    color: white;
    position: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.display-1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.contatti {
    border-radius: 3rem;
    background-color: rgb(143, 190, 208);
}
.contatti .container-email {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.contatti .container-email div a {
    color: black;
}
.contatti .container-email div a:hover {
    color: blue;
}



.card-container {
    position: flex;
    top: 11rem;

}

.card-container .card {
    font-size: 0.5rem;
}
